DATABASE_URL=postgresql://usuario:password@host:puerto/postgres
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key

GETNET_LOGIN=tu-getnet-login

GETNET_SECRET_KEY=tu-getnet-secret-key

GETNET_ENDPOINT=https://checkout.test.getnet.cl

NEXT_PUBLIC_APP_URL=http://localhost:3000





ADMIN_JWT_SECRET=una-clave-secreta-larga-y-segura




